<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> Voici les fruits de saison ! </h1>
      <% @nourritures.each do |nourriture| %>
      <% if Date.today.between?(nourriture.start_at, nourriture.end_at) %>
          <hr>
          <p> <%= nourriture.variety %> </p>
          <p> <%= nourriture.name %> </p>
          <p> <%= nourriture.start_at %> </p>
          <p> <%= nourriture.end_at %> </p>

        <% end %>
      <% end %>
    </div>
  </div>
</div>


